// Variabili per i colori principali del progetto
$color-text: #f4f4f4;
$color-primary: #0e6cff;
$color-secondary: #ff8700;
$color-tertiary: #4caf50;
$color-bg-hero: #640fc5;
$color-white: #fff;
$color-dark: #333;

// Variabili colori principali
$color-btn-primary: #0e6cff; // Bottone blu
$color-btn-secondary: #ff8700; // Bottone arancione
$color-btn-tertiary: #4caf50; // Bottone verde
